<ul>
  {% if page.homepage %}
  <li><a href="{{ page.homepage }}" target="_blank">Homepage</a></li>
  {% endif %}
  {% if page.api %}
  <li><a href="{{ page.api }}" target="_blank">API Documentation</a></li>
  {% endif %}
  {% if page.code %}
  <li><a href="{{ page.code }}" target="_blank">Code</a></li>
  {% endif %}
  {% if page.description %}
  <li><a href="{{ page.description }}" target="_blank">Description</a></li>
  {% endif %}
  {% if page.documentation %}
  <li><a href="{{ page.documentation }}" target="_blank">Documentation</a></li>
  {% endif %}
  {% if page.blog %}
  <li><a href="{{ page.blog }}" target="_blank">Blog</a></li>
  {% endif %}
  {% if page.docker %}
  <li><a href="{{ page.docker }}" target="_blank">Docker Container</a></li>
  {% endif %}
</ul>
