---
layout: default
---

  <section class="docs">
    <div class="grid">

      {% include docs_contents_mobile.html %}

      <div class="unit four-fifths">
        <article>
          {% if page.date %}
          <div class="doc-date">Edited on: {{ page.date | date_to_string }}</div>
          {% endif %}
          <h2>
          {{ page.title }}
          <a href="{{ page.url }}" class="permalink" title="Permalink">∞</a>
          </h2>
          {{ content }}
          {% if page.type == "apps" %}
            {% include apps_content.html %}
          {% endif %}
          {% include section_nav.html %}
        </article>
      </div>

      {% include docs_contents.html %}

      <div class="clear"></div>

    </div>
  </section>
